.Recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}



@media(min-width: 600px){
    .Recipes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 20px;
        margin-top: 20px;
    }
}