.Recipe{
    margin-right: 20px;
    box-sizing: border-box;
    border: 2px solid grey;
    height: 500px;
    box-shadow: 0px 1px 5px 1px;
}

.Recipe:hover{
    background-color: rgb(216, 209, 209);
    cursor: pointer;
}

.Recipe .Card {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10%;
    
}

.Recipe .Card label{
    color: darkblue;
}



